body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.map-container{
    width:100vw;
    height:100vh;
    position: relative;
    background-size: cover;
}

#map, #canvas-map{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

#canvas-map{
    z-index:1;
}

/*.popup {
    width: 200px;
    height: 100px;
    background-color: darkgrey;
    display: none;
    z-index: 2;
}*/

.popup{
    display: none;
    width: 300px;
    height:120px;
    background:#fff;
    border-radius:5px;
    z-index:2;
    overflow:hidden;
    moz-box-shadow: 0px 0px 20px rgba(56,56,56,.2);
    -webkit-box-shadow: 0px 0px 20px rgba(56,56,56,.2);
    box-shadow: 0px 0px 20px rgba(56,56,56,.2);
    text-align:center;
    line-height:2em;
    font-size:24px;
    position:absolute;
}

.popup-content{
    margin: 10px;
}

.popup-options{
    cursor: pointer;
}

.map-header {
    width: 300px;
    height: 50px;
    position: relative;
}

.map-name {
    font-weight: 400;
    font-size: 36px;
}


.color-picker-color{
    width:25px;
    height:25px;
}

.color-picker-color.active{
    border-style: solid;
    border-bottom: -1px black;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-item {
    margin: 0 20px;
}

.center {
    margin: 0 auto;
}

.remove-trips {
    margin-top: 10px;
}

.color-picker {
    margin-top: 12px;
}
