{% extends 'base.html' %}
{% block body %}
    <h1>BASIL!!!!</h1>


    <canvas id="map">
    </canvas>
    <div class="popup">
        <div class="popup-content">
            <div class="popup-message">
                Would you like to save this trip?
            </div>
            <div class="popup-options">
                <button id="save-trip">Fuck yes!</button>
                <button id="cancel-trip">NOPE</button>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
							integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            var canvas = document.getElementById("map");
            var ctx = canvas.getContext("2d");
            canvas.width = 800;
            canvas.height = 700;

            ctx.strokeStyle = "#FF0000";
            ctx.lineJoin = "round";
            ctx.lineWidth = 0.5;

            var coordinates = new Array();
            var coordinatesHistory = new Array();
            var paint = false;
            var $map = $("#map");

            $map.bind('mousedown', function(e) {
                if (!paint){
                    ctx.beginPath();
                    paint  = true;
                }
            });

            $map.mousemove(function(e){
                if (paint) {
                    var x = e.pageX - this.offsetLeft;
                    var y = e.pageY - this.offsetTop;
                    coordinates.push({"x": x, "y":y});
                    ctx.lineTo(x,y);
                    ctx.stroke();
                }
            });

            $map.bind('mouseup', function(e){
                if (paint) {
                    $(".popup").css("position", "absolute");
                    $(".popup").css("left", e.pageX - this.offsetLeft);
                    $(".popup").css("top", e.pageY - this.offsetTop);
                    $(".popup").fadeIn(1000);
                }
                paint = false;
            });

            $map.bind('mouseleave', function(e){
               paint = false;
            });

            $("#save-trip").on('click', function(){
                // AJAX calls go here
                console.log("AJAX goddamnit");
                $(".popup").fadeOut(500);
                ctx.closePath();
                coordinatesHistory.push(coordinates);
                coordinates = new Array();
            });

            $("#cancel-trip").on('click', function(){
                // AJAX calls go here
                console.log("AJAX goddamnit");
                $(".popup").fadeOut(500);
                coordinates = new Array();
                redraw();
            });

            function redraw(){
                ctx.clearRect(0,0,canvas.width,canvas.height);
                ctx.strokeStyle = "#FF0000";
                ctx.lineJoin = "round";
                ctx.lineWidth = 2;
                ctx.beginPath();
                debugger;

                for (var i=0; i<coordinatesHistory.length; i++){
                    for (var j=0; j<coordinatesHistory[i].length; j++) {
                            ctx.lineTo(coordinatesHistory[i][j].x, coordinatesHistory[i][j].y);
                            ctx.stroke();
                    }
                    ctx.closePath();
                    ctx.beginPath();
                }
            }

        });





    </script>

{% endblock %}