{% extends 'base.html' %}
{% block body %}
    <h1>BASIL!!!!</h1>


    <canvas id="map"></canvas>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
							integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
     <style>
        #map{
            background-image: url({{ url_for('static', filename='img/europe.png') }});
            width: 800px;
            height:700px;
            background-size: cover;
        }
    </style>
    <script>
        $(document).ready(function(){
            var canvas = document.getElementById("map");
            var ctx = canvas.getContext("2d");
            canvas.width = 800;
            canvas.height = 700;

            ctx.strokeStyle = "#FF0000";
            ctx.lineJoin = "round";
            ctx.lineWidth = 0.5;

            var coordinatesX = new Array();
            var coordinatesY = new Array();


            var paint = false;
            var $map = $("#map");

            $map.bind('mousedown', function(e) {
                paint  = true;
            });

            $map.mousemove(function(e){
                if (paint) {
                    var x = e.pageX - this.offsetLeft;
                    var y = e.pageY - this.offsetTop;
                    console.log(e.pageX, e.pageY, this.offsetLeft, this.offsetTop);
                    coordinatesX.push(x);
                    coordinatesY.push(y);
                    ctx.lineTo(x,y,5,5);
                    ctx.stroke();
                }
            });

            $map.bind('mouseup', function(e){
                if (paint) {
                    console.log(coordinatesX);
                    console.log(coordinatesY);

                }
                paint = false;
            });

            $map.bind('mouseleave', function(e){
               paint = false;
            });
        });

        function addClick(x, y, dragging)
        {
          clickX.push(x);
          clickY.push(y);
          clickDrag.push(dragging);
        }

        //"#df4b26"
        function draw (color, context){
          context.clearRect(0, 0, context.canvas.width, context.canvas.height);

          context.strokeStyle = color;
          context.lineJoin = "round";
          context.lineWidth = 5;

          for(var i=0; i < clickX.length; i++) {
            context.beginPath();
            if(clickDrag[i] && i){
              context.moveTo(clickX[i-1], clickY[i-1]);
             }else{
               context.moveTo(clickX[i]-1, clickY[i]);
             }
             context.lineTo(clickX[i], clickY[i]);
             context.closePath();
             context.stroke();
          }
        }
    </script>

{% endblock %}